.container {
  display: flex;
  justify-content: center;

  background-color: #000085;

  /* padding-left: 15px;
  padding-right: 15px; */
  padding: 10px;
  margin: 0 auto;
}

/* .search-form {
  
} */

.search-input {
  height: 35px;
  width: 350px;
}
